:root {
  --clr-pri: hsl(246, 80%, 60%);
  --clr-work: hsl(15, 100%, 70%);
  --clr-play: hsl(195, 74%, 62%);
  --clr-study: hsl(348, 100%, 68%);
  --clr-exercise: hsl(145, 58%, 55%);
  --clr-social: hsl(264, 64%, 52%);
  --clr-self-care: hsl(43, 84%, 65%);

  --clr-neutral1: hsl(226, 43%, 10%);
  --clr-neutral2: hsl(235, 46%, 20%);
  --clr-neutral3: hsl(235, 45%, 61%);
  --clr-neutral4: hsl(236, 100%, 87%);

  --fs: 1.125rem;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-bold: 500;

  --ff: "Rubik", sans-serif;
}

body{
  display: grid;
  justify-content: center;

  width: 100%;
  height: 100vh;

  background-color: var(--clr-neutral1);
  font-family: var(--ff);
  color: white;
}

section.dashboard{
  display: grid;
  width: 100%;

  grid-template-columns: 1fr;
  grid-template-rows: 1.3fr, repeat(1fr,6);

  padding-top: 3rem;
  padding-bottom: 3rem;
}

.user__template__top{
  display: flex;
  background-color: var(--clr-pri);
}

.user__template__top img{
  height: 4rem;
  border: 2px solid white;
  border-radius: 5rem;
  margin-right: 1rem;
}

.user__picture{
  display: flex;
  align-items: center;
}

.user__report{
  align-content: center;
}

.user__report p,h2{
  margin: 0;
}

.user__template__bottom{
  height: 100%;
  background-color: var(--clr-neutral2);
}
