:root {
  --clr-pri: hsl(246, 80%, 60%);
  --clr-work: hsl(15, 100%, 70%);
  --clr-play: hsl(195, 74%, 62%);
  --clr-study: hsl(348, 100%, 68%);
  --clr-exercise: hsl(145, 58%, 55%);
  --clr-social: hsl(264, 64%, 52%);
  --clr-self-care: hsl(43, 84%, 65%);

  --clr-neutral1: hsl(226, 43%, 10%);
  --clr-neutral2: hsl(235, 46%, 20%);
  --clr-neutral3: hsl(235, 45%, 61%);
  --clr-neutral4: hsl(236, 100%, 87%);

  --fs: 1.125rem;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-bold: 500;

  --ff: "Rubik", sans-serif;
}

body{
  display: flex;
  align-items: center;

  background-color: var(--clr-neutral1);
  font-family: var(--ff);
  color: white;
}

section.dashboard{
  display: grid;
  width: 100%;


  grid-template-columns: 1fr;
  grid-template-rows: repeat(7, 1fr);
  
  gap: 1rem;
  padding: 3rem 1rem;
}

header.dashboard__user{
  height: 100%;
  width: 100%;
  min-height: 10rem;

  background-color: var(--clr-neutral2);
  border-radius: 0.7rem;
}

.user__template__top{
  display: flex;
  height: 70%;

  background-color: var(--clr-pri);
  border-radius: 0.7rem;
}

.user__template__top img{
  height: 4rem;
  border: 2px solid white;
  border-radius: 5rem;

  margin-right: 1rem;
  margin-left: 1.5rem;
}

.user__picture{
  display: flex;
  align-items: center;
}

.user__report{
  align-content: center;
}

.user__report__for{
  color: var(--clr-neutral4);
}

.user__name{
  font-weight: var(--fw-light);
}

.user__report p,h2{
  margin: 0;
}

.user__template__bottom{
  display: flex;
  height: 30%;

  justify-content: space-around;
  background-color: var(--clr-neutral2);

  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.user__template__bottom button{
  border: none;
  background-color: var(--clr-neutral2);

  color: white;

  font-family: var(--ff);
  font-weight: var(--fw-bold);
}

/* Card section */

section.dashboard__card:is(.work){
  background-color: var(--clr-work);
}

section.dashboard__card:is(.play){
  background-color: var(--clr-play);
}

section.dashboard__card:is(.study){
  background-color: var(--clr-study);
}

section.dashboard__card:is(.exercise){
  background-color: var(--clr-exercise);
}

section.dashboard__card:is(.social){
  background-color: var(--clr-social);
}

section.dashboard__card:is(.selfcare){
  background-color: var(--clr-self-care);
}

section.dashboard__card{
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 0.7rem;
  position: relative;
  overflow: hidden;
}

.card__background{
  position: absolute;
  transform: translate(13rem,-10px);
}

.card__text{
  display: grid;
  width: 100%;
  height: 75%;

  background-color: var(--clr-neutral2);
  align-self: flex-end;
  z-index: 99;
  border-radius: 0.7rem;
}

.card__header__button{
  border:none;
  background-color: var(--clr-neutral2);
}

.card__header{
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right:1rem;
}

.card__header header{
  display: flex;
  justify-content:space-between;
  height: 40%;
}

.card__timings{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__timings__current{
  font-weight: var(--fw-light);
}

.card__timings__previous{
  font-size: 12px;
  font-weight: var(--fw-light);
}

@media screen and (min-width:37.5rem) {
  section.dashboard{
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
  }

  .dashboard__user{
    grid-row: span 2;
  }
}